.people-head {
	display: flex;
	justify-content: space-between;
	color: aliceblue;
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.2;
	text-align: left;
	&__title{
		font-size: 16px;
	}
}
.people-items{
	&__item{
		margin-top: 15px;
		display: flex;
		column-gap: 20px;
		align-items: center;
		position: relative;
		padding: 10px;
		cursor: pointer;
		color: #fff;
		&::before{
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: solid 1px #fff;
			background-color: rgb(13, 240, 13);
		}
	}
	.active{
		background-color: rgba(black, 0.4);
	}
	&__photo{
		object-fit: cover;
	}
}