.list-messenger {
	width: 255px;
	height: 100vh;
	background-color: #737172;
	padding: 35px 25px 0;
	background: -webkit-linear-gradient(0deg, rgb(0, 0, 0), rgb(120, 120, 120));
	background: -moz-linear-gradient(0deg, rgb(0, 0, 0), rgb(120, 120, 120));
	background: linear-gradient(0deg, rgb(0, 0, 0), rgb(120, 120, 120));
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn {
		display: flex;
		align-items: center;
		background: none;
		cursor: pointer;
		margin-top: 20px;
		color: aliceblue;
		border: none;
		column-gap: 20px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 17px;
		img {
			transition: 0.7s;
		}
		&:hover {
			color: #fc8d6b;
			img {
				transform: scale(1.5);
			}
		}
	}
}
